@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  list-style-type: none;
  align-items: center;
  background-color: rgb(30 27 75);

}
.chat-preformatted {
  /* font-family: 'Courier New', monospace;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc; */
  /* Add any other CSS styles you want */
}
